<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
  <div class="container-fluid">
    <img src="/udrill.png" class="logo">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms" id="navbarNav">
      <ul class="navbar-nav nav-ul">
        <li class="nav-item nav-li">
          <a class="nav-link nav-a" routerLink="directories">Справочники</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-link nav-a" routerLink="statistics">Статистика</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
